apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-java-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-java-app
  template:
    metadata:
      labels:
        app: my-java-app
    spec:
      containers:
      - name: my-java-app
        image: 2112000/my-java-app:${BUILD_NUMBER}
        ports:
        - containerPort: 8080

---
apiVersion: v1
kind: Service
metadata:
  name: my-java-app
spec:
  type: NodePort
  selector:
    app: my-java-app
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
