apiVersion: v1
kind: Service
metadata:
  name: my-java-app
spec:
  type: NodePort
  selector:
    app: my-java-app
  ports:
    - protocol: TCP
      port: 8081
      targetPort: 8081
      nodePort: 30081

